:root {
    --dark-gray: #31343d;
    --light-blue: #92CBCD;
    --dark-blue: #445877;
    --light-blue-opacity: rgba(146, 203, 205, 0.5);
}

html, body {
    width: 100%;
}

/* HEADER */

header {
    width: 100%;
    height: 80px;
    background-color: var(--dark-gray);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header h1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 10px 0 100px;
    background-color: var(--light-blue);
    color: var(--dark-gray);
    font-size: 48px;
}

/* NAV */

nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin-right: 50px;
}

nav ul{
    display: flex;
    flex-direction: row;
}

nav ul li {
    padding: 10px;
    cursor: pointer;
}

nav ul li a {
    color: var(--light-blue);
    border-bottom: 3px solid var(--light-blue);
    padding-bottom: 3px;
}


/* IMG W SUBTITLES */

#profile-picture {
    height: 420px;
    width: 420px;
    border-radius: 50%;
    position: absolute;
    left: 150px;
}

#img-and-text{
    height: 500px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("/images/img7.png");
    background-size: cover;
    position: relative;
}

#subtitle {
    display: flex;
    color: var(--dark-gray);
    background-color: var(--light-blue);
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 15px 200px;
    padding: 10px;
}

/* MAIN */

main {
    width: 90%;
    margin: 0 auto;
}

/* ABOUT */

#AboutMe {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 25px 0;
}

#AboutMe h2 {
    width: 10%;
    color: var(--dark-blue);
    display: flex;
    justify-content: flex-end;
    margin-right: 25px;
    text-align: end;
}

#AboutMe p {
    width: 90%;
    display: flex;
    justify-content: flex-start;
    border-left: 3px solid var(--dark-blue);
    color: var(--dark-blue);
    padding-left: 50px;
}

/* WORK */

#Work {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 25px 0;
}

#Work h2 {
    width: 10%;
    color: var(--dark-blue);
    display: flex;
    justify-content: flex-end;
    margin-right: 25px;
}

#Projects-container {
    width: 90%;
    border-left: 3px solid var(--dark-blue);
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;
    padding-left: 50px;
}

#Projects-container .card {
    width: 100%;
    padding: 0 5px;
    position: relative;
}


.card:not(:first-child) {
    flex-basis: calc(50% - 20px);
}

#Projects-container .card img {
    width: 100%;
    height: 400px;
    margin-bottom: 20px;
    border: 5px solid var(--light-blue);
    opacity: 0.7;
    position: relative;
    transition: opacity 0.5s ease-in-out;
    z-index: 2;
}

#Projects-container .card:first-child img {
    height: 800px;
    width: 100%;
    position: relative;
    z-index: 2;
}

#Projects-container .card .card-text {
    padding: 20px;
    color: var(--dark-blue);
    background-color: var(--light-blue);
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 50px;
    left: 8px;
    z-index: 2;
}

#Projects-container .card::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 410px;
    background-color: var(--light-blue-opacity);
    z-index: 1;
}

#Projects-container .card:first-child::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 810px;
    background-color: var(--light-blue-opacity);
    z-index: 1;
}

#Projects-container .card img:hover {
    opacity: 1;
}



/* CONTACT */

#ContactMe {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 25px 0;
}

#ContactMe h2 {
    width: 10%;
    color: var(--dark-blue);
    display: flex;
    justify-content: flex-end;
    margin-right: 25px;
    text-align: end;
}

.footer-contact{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-left: 3px solid var(--dark-blue);
    padding-left: 50px;
}

.footer-contact .Contact {
    color: var(--dark-blue);
    border-bottom: 3px solid var(--dark-blue);
    padding-bottom: 3px;
    font-weight: bolder;
}

.footer-contact .Contact a {
    color: var(--dark-blue);
}


/* Responsive adjustments */

@media (max-width: 768px) {
    header {
        height: 120px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    header h1 {
        padding: 10px;
    }

    nav {
        margin: 20px 0;
        justify-content: center;
        margin-right: 0;
    }

    nav ul li a{
        flex-direction: row;
        font-size: 16px;
    }

    #img-and-text {
        background-size: contain;
        height: 400px;
    }

    #profile-picture {
        height: 300px;
        width: 100%;
        left: 0;
    }

    #subtitle {
        justify-content: center;
        width: 100%;
        margin: 15px auto;
    }
    
    main {
        width: 100%;
    }

    #AboutMe,
    #Work,
    #ContactMe {
        flex-direction: column;
    }

    #AboutMe h2,
    #Work h2,
    #ContactMe h2 {
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
        justify-content: center;
        text-align: center;
    }

    #AboutMe p{
        border: none;
    }

    #AboutMe p,
    #Work,
    #ContactMe .footer-contact {
        width: 100%;
        padding-left: 0;
        text-align: center;
    }

    #ContactMe .footer-contact {
        flex-direction: column;
        gap: 16px;
        border: none;
    }

    #ContactMe .footer-contact .Contact {
        font-size: 18px;
    }

    #Projects-container .card {
        flex-basis: calc(100% - 20px);
        
    }

    #Projects-container {
        border: none;
        margin: 0 auto;
        padding: 10px;
    }

}


@media (max-width: 480px) {
    header {
        height: 150px;
    }

    header h1 {
        padding: 10px;
    }

    #img-and-text {
        height: 200px;
    }

    #subtitle {
        margin: 0;
        padding: 5px;
        font-size: 24px;
    }

    #profile-picture {
        height: 180px;
        width: 100%;
        left: 0;
    }

    main {
        width: 100%;
    }

    #AboutMe h2,
    #Work h2,
    #ContactMe h2 {
        font-size: 32px;
    }

    #AboutMe p,
    #Work .card,
    #ContactMe .footer-contact {
        font-size: 18px;
    }

    #Projects-container {
        padding: 10px;
        justify-content: center; 
    }

}

